#site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

#site-header nav a {
    margin-left: 12px;
    text-decoration: none;
}

#site-header nav a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial;
    margin: 24px;
}